body {
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family: MADEBruno;
    src: url(MADEBruno.otf);
  }
  #join-btn{
  position: fixed;
  top:50%;
  left:50%;
  display: none;
  margin-top:-50px;
  margin-left:-100px;
  font-size:18px;
  padding:20px 40px;
}
.MapUser_avatar__Fox4Y, .MapUser_MapUser_160Xx{
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 2px;
}
.MapUser_avatar__Fox4Y, .MapUser_MapUser_160Xx{

 
 fill: rgb(0, 0, 0);
}
.agora_video_player{
  border-radius: 2%;
}
.rectfillcolor{ 
  /* transform: rotate(45deg); */
 
 fill: rgb(0, 0, 0);
}
.MapHuddle_circle__1MFe2{
  position: absolute;
  stroke: #23883fc9;
  fill: #38be5e;
  stroke-width: 3px;
  opacity: .9;
}
.MapHuddle_mine__18Skp{
  cursor: pointer;
  position: absolute;
}


#video-streams{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  height: 90vh;
  width: 1400px;
  margin:0 auto;
}


.video-container{
  max-height: 100%;
  border: 2px solid rgb(0, 248, 227);
  border-radius: 2%;
  background-color: #203A49;
}

.video-player{
  height: 100%;
  width: 100%;
}
.video-player1{
    height: 100%;
    width: 100%;
  }
button{
  border:none;
  background-color: cadetblue;
  color:#fff;
  padding:10px 20px;
  font-size:16px;
  margin:2px;
  cursor: pointer;
}

#stream-controls{
  justify-content: center;
  margin-top:0.5em;
  display: none;

}

@media screen and (max-width:1400px){
  #video-streams{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      width: 95%;
  }
}
 
  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
      display: none;
  }

  
      line{
          stroke:#006600;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          animation: dash 2s linear alternate;
      }
      .main{
          background-image: url(Background.png);
          background-size: cover;
          border: 1px solid gray;
          height: 350px;
          width: 560px;
          cursor: crosshair;
          display: none;
      }
      .room{
          font: italic 25px serif;
          fill: black;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      .container{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .local_video{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        height: 50vh;
        width: 100%;
        border-radius: 26px 26px 0px 0px;
        margin: 0 auto;
      }
     
      .video_access{
          margin-top: 10rem;
          border: 3px solid #0066EB;
          border-radius: 30px 30px 30px 30px;
      }
      .controls{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #0066EB;
          height: 75px;
          width: 100%;
          border-radius: 0px 0px 20px 20px;
          margin-top: -7px;
      }
      .two_control{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .camera_icon , .mic_icon{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          margin-left: 14px;
          border-radius: 12px 12px 12px 12px;
          background-color: #FFFFFF;
          box-shadow: 0px 3px 20px #004CAF;
          cursor: pointer;
      }
      .setting_icons{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        margin-right: 14px;
        border-radius: 12px 12px 12px 12px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 20px #004CAF;
        cursor: pointer;
      }
      .rigth_side{
          margin-left: 40px;
          margin-top: 100px;
      }
      .heding h1{
        text-align: left;
        font-size: 80px;
        letter-spacing: 0px;
        font-family: MADEBruno;
        color: #0066EB;
      }
      .tag_line p{
        text-align: left;
        font: Roobert;
        letter-spacing: 0.64px;
        color: #4D4D4D;
        margin-top: 10px;
      }
      .name, .email{
        width: 376px;
        height: 65px;
        margin-top: 20px;
        border: 1px solid #DDDDDD;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      .btn{

        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 10px 92px;
        display: inline-block;
        text-align: center;
        margin: 15px 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      .btn:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .btn:before{
        font-family: '';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }
    .btn-2 {
        background: #0066EB;
        color: #fff;
        box-shadow: 0 6px #004CAF;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
    .btn-2d {
        border-radius: 5px;
    }
    
    .btn-2d:hover {
        box-shadow: 0 8px #004CAF;
        top: -2px;
    }
    
    .btn-2d:active {
        box-shadow: 0 0 #004CAF;
        top: 6px;
    }
      .btn p{
        text-align: left;
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.64px;
        color: #FFFFFF;
      }
      .name input {
          background-color:transparent;
          border: none;
          width: 80%;
      }
      input:focus{
        background-color:transparent;
        outline: none;
    }
      .email input{
        background-color:transparent;
        border: none;
        width: 80%;
      }
      .you_are_muted{
          background-color: #FFFFFF;
          height: 40px;
          width: 152px;
          position: absolute;
          top: 11rem;
          z-index: 1;
          margin-left: 20rem;
          align-items: center;
          border-radius: 12px;
          color: #0066EB;
          text-align: center;
          display: none;
          transition: fade 1s;
      }
      .you_are_muted p{
          margin-top: 7px;
          align-items: center;
          text-align: center;
      }

      @keyframes dash {
      from {
          stroke-dashoffset: 1000;
      }
      to {
          stroke-dashoffset: 0;
      }
      }